<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1><%= @event.title %></h1>
      <h4><%= @event.organization.name unless @event.organization.nil? %></h4>
      <p><%= @event.start.strftime("%m/%d/%Y at %I:%M%p") %></p>

      <h6><%= social_share_button_tag("Invitation to " + @event.title, :url => "Hey!\n\nI thought that this event would be interesting for you: " + @event.title + "\n\nThis is the description of the event: \n\n#{@event.description}" + "\n\n\You can subscribe here: " + event_url(@event) + "\n\nSee you there? :)") %></h6>

      <%= link_to "Event Details", event_path(@event), class: "btn btn-primary" %>
    </div>
    <div class="col-xs-4">
      <div class="card-image-lg" style="background-image: url('http://res.cloudinary.com/serendipity/image/upload/<%= @event.image.path %>'); border-radius: 0px 0px 10px 10px;"></div>
    </div>
  </div>
  <hr style="border-top: 2px solid #e6e6e6;margin-left: -15px;">
  <div class="row">
    <div class="col-md-8 wrapper-tickets">
      <ul class="collection">
        <div class="row">
        <h3 class="col-xs-6" style="border-bottom:0;">Attended</h3>
        <h6 class="col-xs-6 text-right" style="margin-top: 40px;">Check Attended</h6>
        </div>
          <% if @event.bookings == [] %>
          <h4>No attendees yet? Share your event! </h4>
          <h6><%= social_share_button_tag("Invitation to " + @event.title, :url => "Hey!\n\nI thought that this event would be interesting for you: " + @event.title + "\n\nThis is the description of the event: \n\n#{@event.description}" + "\n\n\You can subscribe here: " + event_url(@event) + "\n\nSee you there? :)") %></h6>

          <% else %>

        <% @event.bookings.each do |booking| %>
        <div class="row">
          <div class="col-md-12">
              <li class="collection-item">
                <%= cl_image_tag booking.user.avatar.path if booking.user.avatar %>
                <p><%= booking.user.full_name %></p>
                <%= check_box_tag("attended", "yes", booking.attended, data: {url: booking_path(booking)})%>
              </li>
            </div>
          </div>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="wrapper-tickets">
        <h3>Tickets Summary</h3>
        <p>Tickets created: <%= @event.quantity %></p>
        <p>Tickets booked: <%= @event.bookings.count %></p>
        <p>Remaining Tickets: <%= @event.quantity - @event.bookings.count %></p>
      </div>
      <div class="wrapper-tickets">
        <h3>No Shows Payment</h3>
        <p>Penalty fee : <%= @event.penalty_fee %>€</p>
        <button class="btn btn-primary form-control" data-toggle="modal" data-target="#myModal">
          TRIGGER PAYMENT FEE
        </button>
      </div>
    </div>
  </div>
</div>
<%= render 'admin/events/modal', event: @event %>
