<div class="wrapper-sign-up-notification">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="authentication-container">
          <h1 h2 class="text-center">Sign Up</h1>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <%= f.input :first_name, required: true, label: false, placeholder: 'First Name' %>
          </div>
          <div class="form-group">
            <%= f.input :last_name, required: true, label: false, placeholder: 'Last Name' %>
          </div>
          <div class="form-group">
            <%= f.input :email, required: true, label: false, placeholder: 'Email' %>
          </div>
          <div class="form-group">
            <%= f.input :password, required: true, label: false, placeholder: 'Password', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
          <div class="form-group">
            <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm Password' %>
          </div>

          <div class="form-group">
            <%= f.button :submit, "Sign up" %>
            <%#= link_to "Already have an account?", new_user_session_path %>
          </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

