<% cloudinary_path = "http://res.cloudinary.com/serendipity/image/upload/" %>

<section class="users-page">
  <div class="container">

    <% if @user.avatar != nil %>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="avatar" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cloudinary_path + @user.avatar.path %>');"></div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 text-center">
        <h3 style="color:#00b1b1;"><%= "#{@user.first_name} #{@user.last_name}" %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-1 col-md-offset-2 text-right">
        <h4><i class="fa fa-envelope" aria-hidden="true"></i></h4>
      </div>
      <div class="col-xs-11 col-md-6">
        <h4><%= @user.email %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-1 col-md-offset-2 text-right">
        <h4><i class="fa fa-map-marker" aria-hidden="true"></i></h4>
      </div>
      <div class="col-xs-11 col-md-6">
        <h4><%= @user.address %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-1 col-md-offset-2 text-right">
        <h4><i class="fa fa-phone" aria-hidden="true"></i></h4>
      </div>
      <div class="col-xs-11 col-md-6">
        <h4><%= @user.phone %></h4>
      </div>
    </div>

    <% if @events_booked != nil %>

      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <hr/>
        </div>
      </div>

      <% @events_booked.each do |event| %>
        <div class="row">
          <div class="col-xs-12">
            <%= event.title %>
            <%= event.attended %>
            <%= event.cancelled %>
            <%= link_to 'Show', event %> |
            <%= link_to 'Edit', edit_event_path(event) %> |
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>
</section>
