 <% @public_events.each do |event| %>
   <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          <div class="card-image" style="background-image: url('http://res.cloudinary.com/serendipity/image/upload/<%= event.image.path if event.image %>')";>
          </div>
          <div class="card-date">
            <p>
              <%= event.start.strftime('%a, %b %d').upcase %>
            </p>
          </div>
        </div>

        <div class="card-description">
          <div class="card-description-content">
            <h2><%= event.title %></h2>
            <p><%= event.address %></p>
          </div>
        </div>
        <%= link_to "Attend", event_path(event), class: "card-link"  %>
      </div>
   </div>
 <% end %>

<%#= link_to "More", event_path(event), class: "card-link" %>
