<!-- New Event Form -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

      <%= simple_form_for event do |f| %>
      <h2>Event Details</h2>
      <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="field">
        <%= f.input :title, label: "Event Name", placeholder: 'Give your event a short and clear name', class: "form-control" %>
      </div>

      <div>
        <span>Location </span>
        <%= radio_button_tag(:offline, true) %>
        <%= label_tag(:offline, "Enter address") %>
        <%= radio_button_tag(:offline, false) %>
        <%= label_tag(:offline, "Online event") %>
        <div class="online-fields">
          <div class="field">
            <%= f.input :online_url, placeholder: "Enter the event's website", label: false, class: "form-control" %>
          </div>
        </div>
        <div class="offline-fields">
          <div class="field">
            <%= f.input :venue, placeholder: "Venue Name", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.input :address, placeholder: "Address", input_html: { class: "form-control js-search-autocomplete" } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.input :start, as: :datetime, label: "Starts" %>
      </div>

      <div class="field">
        <%= f.input :end, as: :datetime, label: "Ends" %>
      </div>

      <div class="field">
        <%= f.input :image, as: :attachinary %>
      </div>

      <div class="field">
        <%= f.input :description, as: :bootsy, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.input :quantity, type: :number %>
      </div>

      <div class="field">
        <%= f.input :penalty_fee, placeholder: "No show charge", type: :number %>
      </div>

      <div class="field">
        <span style="font-weight: 600">Cancellation Policy</span>
        <%= f.collection_radio_buttons :cancellation_policy, cancellation_policy_collection, :last, :first, item_wrapper_tag: :div do |b| %>
        <%= b.radio_button(value: b.text) + b.label(class: "collection_radio_buttons", value: b.text) %>
        <% end %>
      </div>

      <div class="field">
        <%= f.input :public, label: "This is a public event" %>
      </div>

      <!-- Organization -->
      <div class='field'>
      <%= f.input :organization_id, collection: current_user.organizations, placeholder: "Select existing Organizations" %>
      </div>

<%= link_to "+ Add New Organization", new_organization_path %>



      <!-- Organization -->

      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>

