<p id="notice"><%= notice %></p>
<div class="box">
  <div class="banner-show " style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @event.image %>');">
    <div class="ribbon"><span>Free</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <h2><%= @event.title %></h2>
      <h3>Name of Organization</h3>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
    <h3>Date & Time</h3>
      <h5><%= @event.start.strftime("%m/%d/%Y at %I:%M%p") %></h5>
      <h5><%= @event.end.strftime("%m/%d/%Y at %I:%M%p") %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <h3>Location</h3>
      <% if @event.offline == true %>
        <h5><%= @event.venue %></h5>
        <h5><%= @event.address %></h5>
        <h5><%= @event.address_2 %></h5>
        <h5><%= "#{@event.postcode} #{@event.city}" %></h5>
        <h5><%= @event.state %></h5>
        <h5><%= @event.country %></h5>
        <h3>Show map:</h3>
        <h5><a href="#map"></a></h5>
      <% else %>
        <h3>Online url:</h3>
        <h5><%= @event.online_url %></h5>
      <% end %>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
          <h3>Description:</h3>
          <h5><%= @event.description %></h5>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
          <h3># Ticket name:</h3>
          <h5><%= @event.ticket_name %></h5>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
          <h3># Quantity:</h3>
          <h5><%= @event.quantity %></h5>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
          <h3>Penalty fee:</h3>
          <h5><%= @event.penalty_fee %></h5>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
          <h3>Cancellation policy:</h3>
          <h5><%= @event.cancellation_policy %></h5>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
          <h3>Price:</h3>
          <h5><%= @event.price %></h5>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_event_path(@event) %>
        |
      <% end %>
      <%= link_to 'Back', events_path %>
    </div>
  </div>
</div>
<div class="container-fluid" >
  <div class="row">
    <div class="col-xs-12" style="height: 300px; background-color: grey; margin: 25px 0">
    </div>
  </div>
</div>

<div class="container" style="position: fixed;bottom: 0px;" >
  <div class="row">
    <div class="col-xs-12" style=" background-color: #0dce00; margin: 25px 0">
   <h1> RSVP </h1> </div>
  </div>
</div>




