<% cloudinary_path = "http://res.cloudinary.com/serendipity/image/upload/" %>


  <section class="events-page">

    <% if @event.image %>
      <div class="container-fluid">
        <div class="banner" style="background-image: url('<%= cloudinary_path + @event.image.path %>');">
        </div>
      </div>
    <% end %>

    <div class="container">
      <div class="ticket">
        <div class="row" style="margin-bottom: 70px;">

          <div class="col-xs-12 col-md-8">
            <h3><%= @event.title %></h3>
            <h4><%= @event.organization.name unless @event.organization.nil? %></h4>
          </div>

          <div class="col-xs-12 col-md-4">
            <% if user_signed_in? %>
              <% unless @event.bookings.find_by(user_id: current_user.id).nil? %>
                <%= render "bookings/booking" %>
              <% else %>
                <%= render "bookings/create" %>
              <% end %>
            <% else %>
              <%= render "bookings/create" %>
            <% end %>

            <% if policy(@event).edit? %>
              <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default'   %>
            <% end %>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <h4><i class="fa fa-calendar"></i></h4>
          </div>
          <div class="col-xs-11">
            <h4>Date & Time</h4>
            <p><%= @event.start.strftime('%a, %b %d') %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <h4><i class="fa fa-map-marker"></i></h4>
          </div>
          <div class="col-xs-11">
            <h4>
              Location
              <small><a href="#map">Show map</a></small>
            </h4>
            <% if @event.offline == true %>
              <p><%= @event.venue %></p>
              <p><%= @event.address %></p>
            <% else %>
              <h4>Online url</h4>
              <p><%= @event.online_url %></p>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <h4><i class="fa fa-file-text-o"></i></h4>
          </div>
          <div class="col-xs-11">
            <h4>Description:</h4>
            <p><%= @event.description %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 text-right">
            <h4><i class="fa fa-ticket"></i></h4>
          </div>
          <div class="col-xs-11">
            <h4>Remaining Tickets</h4>
            <p><%= @event.quantity - @event.bookings.count %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 text-right">
            <h4><i class="fa fa-exclamation"></i></h4>
          </div>
          <div class="col-xs-11">
            <h4>Penalty fee</h4>
            <p><%= humanized_money_with_symbol(@event.penalty_fee) %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 text-right">
            <h4><i class="fa fa-exclamation"></i></h4>
          </div>
          <div class="col-xs-11">
            <h4>Cancellation policy</h4>
            <p><%= @event.cancellation_policy %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 text-right">
            <h4><i class="fa fa-euro"></i></h4>
          </div>
          <div class="col-xs-11">
            <h4>Price</h4>
            <p><%= @event.price %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 text-right">
          </div>
          <div class="col-xs-11">
            <div style="margin-left: -15px;">
             <%= social_share_button_tag("Invitation to " + @event.title, :url => "Hey!\n\nI thought that this event would be interesting for you: " + @event.title + "\n\nThis is the description of the event: \n\n#{@event.description}" + "\n\n\You can subscribe here: " + event_url(@event) + "\n\nSee you there? :)") %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if @event.offline == true %>
      <a name="map"></a>
      <a href="https://www.google.com/maps/dir//<%= @event.address %>/" target="_blank">
        yolo

      </a>
    <% end %>
  </section>


<div class="button">
  <%= link_to 'Explore events list', events_path, class: 'btn btn-primary btn-lg' %>
</div>
