<div class="card">
  <div class="card-header">
    <div class="card-image" style="background-image: url('http://res.cloudinary.com/serendipity/image/upload/<%= event.searchable.image.path %>');">
    </div>
    <div class="card-date">
      <p>
        <%= event.searchable.start.strftime('%a, %b %d').upcase %>
      </p>
    </div>
  </div>

  <div class="card-description">
    <div class="card-description-content">
      <% if event.searchable.title.length >= 65 %>
        <h2><%= event.searchable.title.first(65) %>...</h2>
      <% else %>
        <h2><%= event.searchable.title %></h2>
      <% end  %>
      <p><%= event.searchable.address %></p>
    </div>
  </div>
  <%= link_to "Attend", event_path(event.searchable), class: "card-link"  %>
</div>
