<section class="events-confirm-page">

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="ticket text-center">
        <h3>Confirm your booking for <%= @booking.event.title %></h3>
        <%= form_tag event_booking_payments_path(@booking) do %>


          <p>No-Show Fee: <%= humanized_money_with_symbol(@booking.penalty_fee) %></p>


          <p>This fee will only be charged if you don't attend the event</p>


          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Event Ticket"
          data-description="Event <%= @booking.event.id %>"
          data-label="Add card"
          data-panel-label="Charge me if I don't go!"</script>
        <% end %>

      </div>

    </div>
  </div>
</div>

</section>
