<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag '/favicon.ico' %>
    <title>Eventinary</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway' %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="site">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="site-content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= cloudinary_js_config %>
  </body>
</html>
